# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Editors
.vscode/

# Cypress
cypress/videos/
cypress/screenshots/
# If using component testing builds
cypress/.cache/
cypress/downloads/

# Test reports (exclude Mochawesome outputs from PRs)
cypress/reports/
reports/
mochawesome*.json
mochawesome*.html

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Build outputs
/dist/
/build/
